@font-face {
	font-family: 'Text-Cond';
	src: url('../fonts/cond-pro/PFDinTextCondPro-Bold.eot') format('eot');
	src: local('Text-Cond Bold'), url('../fonts/cond-pro/PFDinTextCondPro-Bold.woff') format('woff'), url('../fonts/cond-pro/PFDinTextCondPro-Bold.ttf') format('truetype'), url('../fonts/cond-pro/PFDinTextCondPro-Bold.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 70px;
}

.doctor-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}  

.all-services-container {
  display: flex;
  height: 456px;
  background-color: #EDE9E8;
  justify-content: flex-start;
  align-items: center;
}

.all-services-item {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
  width: 320px;
  height: 220px;
  text-align: center;
  vertical-align: middle;
  background-color: #FFFFFF;
}

.all-services-item:hover {
  background-color: rgba(89, 68, 63, 0.5);
}

.pic{
  align-self: flex-end;
  margin-left: auto;
}

.header-item {
  text-decoration: none;
  color: #C3B9B5;
  padding: 20px;
  margin: 30px;
  font-weight: bolder;
  font-size: larger;
  font-family: Futura New, serif ;  
}

.header-item:hover {
  text-decoration:underline;  
}


.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-item {
  font-size: 20px;
  font-weight: 400;
  width: 20%;
  margin: 30px;
  padding: 20px;
  line-height: 1.8;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-logo {
  margin-top: 20px;
  margin-left: 20px;
}

h1 {
  color: #080606;
  font-size: 50pt;
  font-family: 'Text-Cond', sans-serif;
}

h2 {
  color: #59443F;
  font-size: 40pt;
}

h2:target {
  background: rgba(128, 128, 128, 0.7);
  padding: 5px;
}

h3 {
  color: #59443F;
  font-size: 30pt;
}

p {
  font-family: 'SchoolBook';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #080606;
}

li {
  font-family: 'SchoolBook';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #080606;
}

td, th {
  font-size: 30pt;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #59443F;
}
              
.button {
  cursor: pointer;
  display: block;
  height: 100px;
  width: 30%;
  background-color: #FFC59E;
  color: #C3B9B5;
  border-radius: 40px;
  border: none;
  margin: auto;
}
          
button:active {
  background-color: lightcoral;
  border: solid 2px black;
}

button:hover {
  background-color: lightcoral;
}
                
.analysis:link {
  color:blueviolet;
}
          
.analysis:visited {
  color:green;
}

.menu:link {
  color: #59443F;
}
          
.menu:visited {
color: #59443F;
}

.therapy-item {
  font-family: 'Futura New';
  font-style:normal;
  font-weight: 400;
  font-size: 20pt;
  line-height: 30px;
  list-style-type: none;
}

.therapy-item::after {
  content: "(узнать больше)";
  padding: 15px;
  color: #FFC59E;
}

.therapy-item:link {
  color: #59443F;
}

.therapy-item:visited {
  color: #59443F;
}

.doc {
  cursor: pointer;
  width: 344px;
  height: 150px;
  padding: 20px;
  background-color:rgba(237, 233, 232, 0.5); 
  border-radius: 40px;
  font-size: 20pt;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  line-height: 1.3;
}

.doc:hover {
  text-decoration: underline;
  background-color:rgba(89, 68, 63, 0.5);
}

.list {
  list-style-type: none; 
}

.list::before {
  content: "- "; 
}

.price-table {
  border: solid 2px black;
  margin: 100px;
  width: 50%;
  height: 30%;
}

.price-item:nth-child(odd) {
  background-color:#EDE9E8;
}

.price-item:nth-child(even) {
  background-color:white;
}

#visit-doctor {
  font-family:'PT Sans', sans-serif;     
  font-size:30pt;
  font-weight: 600;
  color: #59443F;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

#visit-doctor:hover {
  text-decoration:#59443F dotted underline; 
}

.footer-link:link {
  color:#FFFFFF;
  text-decoration: none;
}
          
.footer-link:visited {
  color:#FFFFFF;
  text-decoration: none;
}



